<!DOCTYPE html>


<!-- HEADING -->

<div class="sticky-header">
    <div class="container-fluid">
        <h2 class="white-color">
            <div class="left-side-glyphicon">
                <a href="widget-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div> Choose Widget
        </h2>
    </div>
</div>

<! -- HEADING END -->


<div class="container">

    <ul>
        <li>
            <a >
                <b>Header</b>
            </a>
        </li>
        <li>
            <b>Label</b>
        </li>
        <li>
            <b>HTML</b>
        </li>
        <li>
            <b>Text Input</b>
        </li>
        <li>
            <b>Link</b>
        </li>
        <li>
            <b>Button</b>
        </li>
        <li>
            <a href="widget-image.view.client.html">
                <b>Image</b>
            </a>
        </li>
        <li>
            <a href="widget-youtube.view.client.html">
                <b>YouTube</b>
            </a>
        </li>
        <li>
            <b>Data Table</b>
        </li>
        <li>
            <b>Repeater</b>
        </li>
    </ul>




</div>








<!-- BOTTOM -->

<div class="sticky-footer">
    <div class="container-fluid">
        <h2><div class="right-side-glyphicon">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div></h2>
    </div>
</div>

<!-- BOTTOM END -->


