input.form-control {
    margin-bottom: 5px;
}

* {
    font-size: 100%;
    font-family: Arial;
}

body {
    padding-top: 80px;
    padding-bottom: 80px;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;

}
table {
    width: 100%
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
}

.white-color { color: white; }
.fixed-border {
    position:fixed;
}

.sticky-header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
}


.sticky-footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
}

.right-side-glyphicon {
    float: right;
}

.left-side-glyphicon {
    float: left;
}

table {
    width: 100%;
}

.centered {
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    text-align: center;
    width: 50%;
    padding: 10px;
    top: 50%;
}


#instructions {
    width: 350px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px;
    background-color: #1b6d85;
    color: white;
    border-radius:10px;
}
.alphabetBox {
    margin:15px auto;
    padding: 10px;
    max-width:900px;
}
.alphabet {
    float:left;
    margin: 0 10px 10px 0;
    list-style:none;
    width:35px;
    height:30px;
    padding-top:5px;
    padding-bottom: 5px;
    background:yellow;
    text-align: center;;
    border: 3px double #CCCCCC;
    border-radius:10px;
    /*color:$base-color;*/
    cursor:pointer;
/*@include corners(5px);*/
    /*border: solid 1px $white;*/

/*:hover{*/
     /*background: blue;*/
     /*border: solid 1px white;*/
     /*color:white;*/
 /*}*/
}

.center {
    margin-top: 50px;
}
.spaces {
    float: left;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 35px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 30px;
}

.wrongGuesses {
    margin-top: 30px;
    font-size: large;
}

.active {
    background-color: transparent;
}

.btn {
    float: right;
}
    /*color:$base-color;*/

